# Python
*.pyc
__pycache__/
venv/

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/

# OS
.DS_Store
backend/.env
backend/*.db
backend/new.*.py
backend/old.*.py
data/*.db
*.sqlite
backend/routes/new.*.py
backend/routes/old.*.py
backend/archive/
backend/openapi.json
frontend/archive/
archive/
old.*
.env